<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>环信测试demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>95FB5D411D4EDDC6004F7146</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95FB5D5A1D4EDDC7004F7146</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95FB5D651D4EDDC7004F7146</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
